/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

/* main>.container {
  padding: 60px 15px 0;
} */

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

.b-example-vr {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
}

.bi {
  vertical-align: -.125em;
  fill: currentColor;
}

.nav-scroller {
  position: relative;
  z-index: 2;
  height: 2.75rem;
  overflow-y: hidden;
}

.nav-scroller .nav {
  display: flex;
  flex-wrap: nowrap;
  padding-bottom: 1rem;
  margin-top: -1px;
  overflow-x: auto;
  text-align: center;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
}

body {
  /*   background-color: #ece9e9; */
  background: rgb(255, 237, 216);
  background: linear-gradient(145deg, #fee3bc 0%, #fee3bc 33%, #f9ab75 100%);
}

.color_fondo {
  background-color: #fee7d4 !important;
  border-color: #fee7d4 !important;
}

.borderless td, .borderless th {
  border: none;
}

.color_fondo_card {
  background-color: #f7c594 !important;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}

.titulo {
  font-family: nunito-semibold;
}

.icono {
  width: 50px;
  height: 45px;
}

.icono2 {
  width: 50px;
  height: 35px;
}

.icono3 {
  width: 35px;
  height: 35px;
}

.nopadding {
  padding: 0 !important;
  margin: 0 !important;
}